# Spatial segregation in Vyborg 1880-1920

In [18]:
import os

import pandas as pd
import geopandas as gpd
from segregation.spatial import SpatialMinMax
import requests

from spatial_segregation.data import merge_dataframes, prepare_pop_data, prepare_point_data, aggregate_sum

In [19]:
os.chdir('../data')
points = gpd.read_file('points1878.geojson')
points = prepare_point_data(points, 'NUMBER', 'NUMBER2')
pop_data = prepare_pop_data(pd.read_csv('1920.csv'))
pop_data = aggregate_sum(pop_data, ['plot_number'], ['other_christian', 'orthodox', 'other_religion', 'lutheran'])
data = merge_dataframes(
    location_data=points,
    other_data=pop_data,
    on_location='NUMBER',
    on_other='plot_number',
)
data = data[[
    'OBJECTID', 'NUMBER', 'geometry',
    'other_christian', 'orthodox', 'other_religion', 'lutheran',
]]
data.head(20)

,OBJECTID,NUMBER,geometry,other_christian,orthodox,other_religion,lutheran
0,2,2,POINT (594451.5889 6732221.8068),0.0,0.0,0.0,8.0
1,3,3,POINT (594467.5268 6732243.4413),0.0,0.0,0.0,30.0
2,5,5,POINT (594514.3106 6732244.615),0.0,0.0,0.0,8.0
3,6,6,POINT (594494.1743 6732219.6607),0.0,0.0,0.0,17.0
4,8,8,POINT (594482.4815 6732192.3397),0.0,0.0,0.0,34.0
5,9,9,POINT (594463.133 6732175.6342),0.0,0.0,0.0,36.0
6,10,10,POINT (594500.0051 6732143.8924),0.0,0.0,0.0,66.0
7,11,11,POINT (594523.216 6732158.4992),0.0,0.0,0.0,36.0
8,12,12,POINT (594530.9950999999 6732182.7965),0.0,0.0,0.0,17.0
9,14,14,POINT (594565.0093 6732219.2369),1.0,0.0,0.0,29.0
10,15,15,POINT (594590.8461 6732196.5476),0.0,0.0,0.0,5.0
11,16,16,POINT (594567.6053000001 6732169.7857),0.0,0.0,0.0,1.0
12,17,17,POINT (594553.4701 6732142.537),0.0,0.0,0.0,2.0
13,19,19,POINT (594576.2367 6732113.9054),0.0,0.0,0.0,28.0
14,20,20,POINT (594596.6612 6732140.6799),0.0,0.0,0.0,42.0
15,21,21,POINT (594622.2467 6732169.6732),0.0,0.0,0.0,8.0
16,22,23,POINT (594638.9811 6732137.0271),0.0,0.0,0.0,6.0
17,23,24,POINT (594673.0965 6732124.4533),0.0,0.0,0.0,11.0
18,24,25,POINT (594651.2308 6732096.725),0.0,0.0,0.0,1.0
19,25,26,POINT (594627.272 6732075.0583),0.0,1.0,0.0,10.0

## References

* O'Sullivan, D. and Wong, D. W. (2007), A Surface‐Based Approach to Measuring Spatial Segregation.
Geographical Analysis, 39: 147-168. doi:10.1111/j.1538-4632.2007.00699.x